@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "tailwindcss";

@theme {
  /* COLORS */
  --color-my-green: hsl(171, 66%, 44%);
  --color-my-blue: hsl(233, 100%, 69%);
  --color-my-gray-500: hsl(201, 11%, 66%);
  --color-my-gray-700: hsl(210, 10%, 33%);

  /* BREAK */
  --breakpoint-md: 900px;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Bai Jamjuree", sans-serif;
  background-color: white;
  background-image: url("/bg-header-mobile.png");
  background-repeat: no-repeat;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
}
